@model IEnumerable<LibraryReservedSystem.Models.Book>

@{
    ViewData["Title"] = "Search";
}

<h1>Search Results</h1>
<hr />
@*<p>
    <form asp-action="ShowSearchResults">
    <div class="form-group">
        <label for="BookTitle" class="control-label"></label>

        <input name="SearchTitle" class="form-control" placeholder="Search Book Title" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
    </form>
</p>
*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <!--
            <th>
            @Html.DisplayNameFor(model => model.Edition)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.CallNumber)
            </th>
            -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle)
                </td>
                <!--
                <td>
                @Html.DisplayFor(modelItem => item.Edition)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.CallNumber)
                </td>
                -->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-action="Index">Back to List</a>
</div>
